@page "{id:int?}"
@model RazorPagesTutorial.Pages.USERS.CustomerAccountMmModel
@{
    ViewData["Title"] = "CustomerAccountMm";
}

<h1>@Model.USERS.U_LName 's info</h1>

<h4 style="color:dodgerblue">@Model.Msg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="USERS.U_ID" class="control-label"></label>
                <input asp-for="USERS.U_ID" class="form-control" readonly/>
                <span asp-validation-for="USERS.U_Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERS.U_Pass" class="control-label"></label>
                <input asp-for="USERS.U_Pass" class="form-control" />
                <span asp-validation-for="USERS.U_Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERS.U_FName" class="control-label"></label>
                <input asp-for="USERS.U_FName" class="form-control" />
                <span asp-validation-for="USERS.U_FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERS.U_LName" class="control-label"></label>
                <input asp-for="USERS.U_LName" class="form-control" />
                <span asp-validation-for="USERS.U_LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERS.U_Address" class="control-label"></label>
                <input asp-for="USERS.U_Address" class="form-control" />
                <span asp-validation-for="USERS.U_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERS.U_Country" class="control-label"></label>
                <input asp-for="USERS.U_Country" class="form-control" />
                <span asp-validation-for="USERS.U_Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERS.U_Zipcode" class="control-label"></label>
                <input asp-for="USERS.U_Zipcode" class="form-control" />
                <span asp-validation-for="USERS.U_Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERS.U_Phone" class="control-label"></label>
                <input asp-for="USERS.U_Phone" class="form-control" />
                <span asp-validation-for="USERS.U_Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USERS.U_Email" class="control-label"></label>
                <input asp-for="USERS.U_Email" class="form-control" />
                <span asp-validation-for="USERS.U_Email" class="text-danger"></span>
            </div>

            @if (ViewData["UserRole"] != null)
            {
                @if (ViewData["UserRole"].ToString().Contains("Master") || ViewData["UserRole"].ToString().Contains("Admin"))
                {
            <div class="form-group">
                <label asp-for="USERS.U_Role" class="control-label"></label>
                <input asp-for="USERS.U_Role" class="form-control" readonly />
                <span asp-validation-for="USERS.U_Role" class="text-danger"></span>
            </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a asp-page="../Products/ProductList" asp-route-id="@Model.USERS.U_ID">Go to Car list</a>
                <a asp-page="../Users/Logout">Logout</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}